@import url('https://fonts.googleapis.com/css2?family=inter:wght@100:200:300:400:500:600:700:800:900:&display=swap');
:root{
  --font-base:'Lexend',sams-serif;
  --font-second-base:'inter',sams-serif;
  --big-color: #111;
  --primary-color:#ffffff;
  --secondary-color:#e50914;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #111;
}